*{
    box-sizing: border-box;
    font-family: 'Finlandica', sans-serif;
    margin: 0;
}

body{
    background-color: #f4f4f4;
}

.hidden{
    visibility: hidden;
}

.active{
    visibility: visible;
}
.navbar{
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px #ccc;
    margin-bottom: 4em;

    .container{
        width: 95%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }

    img{
        width: 8%;
    }

    .links{
        display: flex;
        flex-flow: row wrap;
        gap: 2em;

        a{
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            font-size: 1em;
            text-decoration: none;
            color: #1E2151;

            i{
                font-size: 1.5em;
            }
        }
    }
}

.control-panel{

    .timetable{
        position: relative;
        left: 20%;
        background-color: #fff;
        height: 100%;
        padding: 1em;
        border-radius: 25px;

        .container{
            position: relative;
            display: grid;
            grid-template-columns: 2% 11% 11% 11% 11% 11% 11% 11%;
            grid-template-rows: repeat(12, 1fr);
            gap: .2em;
            row-gap: .3em;

            .cell{
                height: 80px;
                position: relative;

                .date{
                    width: 40%;
                    height: 60%;
                    background-color: #ccc;
                    align-self: start;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 15px;
                    align-self: center;
                    font-size: 1.5em;
                    margin-bottom: .2em; 
                }

                h2{
                    position: absolute;
                    top: 10%;
                    left: 5%;
                    font-weight: 100;
                    font-size: 1.75em;
                }
            }

            .cell-date{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .cell-btn{
                background-color: #f4f4f4;
                border: none;
                border-radius: 15px;
                cursor: pointer;
            }

            .time{
                font-size: .75em;  
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }

        #eventAdder{
            position: absolute;
            top: 10%;
            left: 10%;
            width: 20%;
            height: 25%;
            background-color: #fff;
            border-radius: 15px;

            #title{
                border: none;
                border-bottom: 1px solid#ccc;
                width: 90%;
                height: 20%;
                position: absolute;
                top: 10%;
                left: 50%;
                transform: translateX(-50%);
                padding: 0;
                font-size: 1.5em;

                &::placeholder{
                    text-align: center;
                }

                &:focus{
                    outline: none;
                }
            }

            .color-pick{
                position: absolute;
                top: 40%;
                right: 10%;
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                left: 50%;
                transform: translateX(-50%);


                #color{
                    border: none;
                    width: 30px;
                    height: 30px;
                    padding: 0;
                }
                
            }

            .action{
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translateX(-50%);
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .action-btn{
                    padding: 0.3em 2em;
                    background-color: #f2f2f2;
                    border: none;
                    border-radius: 5px;
                }
            }

        }
    }
}