*{
    box-sizing: border-box;
    font-family: 'Finlandica', sans-serif;
    margin: 0;
}

body{
    background-color: #f4f4f4;
}

.navbar{
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px #ccc;
    margin-bottom: 4em;

    .container{
        width: 95%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }

    img{
        width: 8%;
    }

    .links{
        display: flex;
        flex-flow: row wrap;
        gap: 2em;

        a{
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            font-size: 1em;
            text-decoration: none;
            color: #1E2151;

            i{
                font-size: 1.5em;
            }
        }
    }
}

.control-panel{

    .timetable{
        position: relative;
        left: 20%;
        background-color: #fff;
        height: 100%;
        padding: 1em;
        border-radius: 25px;

        .container{
            display: grid;
            grid-template-columns: repeat(8, 10%);
            grid-template-rows: repeat(12, 1fr);
            gap: .2em;
            row-gap: .5em;

            .subject{ 
                background-color: #ccc;
                width: 100%;
                height: 80px;

                &:nth-child(1){
                    background-color: #fff;
                }

                &:nth-child(8n + 9){
                    background-color: #fff;
                }

                &:nth-child(-n + 8){
                    width: 70px;
                    height: 70px;
                    position: relative;
                    left: 50%;
                    transform: translate(-50%);
                }
            }


        }
    }
}