*{
    box-sizing: border-box;
    font-family: 'Finlandica', sans-serif;
}

body{
    height: 90vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
 
.btn{
    width: 100%;
    height: 30px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 10px;
}

.registration{
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    gap: 5em;

    img{
        width: 50%;
    }

    .log-in-info{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: space-between;
        // background-color: beige;
        gap: 2em;
        width: 40%;

        h1{
            font-size: 5em;
            font-weight: 500;
            margin: 0;
        }

        .id-num, .passwrd{ 
            display: flex;
            flex-flow: column wrap;
            gap: .5em;
            width: 100%;

            label{
                font-size: 1.25em;
            }

            input{
                border-radius: 10px;
                border: 1px solid #aaa;
                height: 40px;
                font-size: 1em;
                padding-left: 1em;
            }
        }

        .log-in-btn{
            background-color: #1E2151;
            font-size: 1.25em;
            color: #fff;
            padding: 1em;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
                opacity: .9;
                transition: all .1s;
            }
        }
    }
} 

@media (max-width: 1000px) {
    body{
        height: 95svh;
        font-size: 14px;
    }
    .registration{
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        width: 90%;

        img{
            width: 50%;
        }
        .log-in-info{
            width: 60%;
            h1{
                align-self: center;
            }
        }


    }
}

@media (max-width: 600px) {
    body{
        font-size: 12px;
    }
    .registration{
        width: 90%;

        img{
            width: 70%;
        }

        .log-in-info{
            width: 90%;
        }
    }
}

@media (max-width: 400px) {
    .registration{
        width: 95%;
        img{
            width: 80%;
        }

    }
}

